PORT=7001
LOG_LEVEL=info
DB_PATH=./data/sso.sqlite
INTERNAL_API_TOKEN=change-me
BASE_URL=http://localhost:7001
PROXY_BASE_URL=http://localhost:3000
MOCK_GITHUB_BASE_URL=http://localhost:8002
SESSION_SECRET=change-me
SSO_DEFAULT_USER_PASSWORD=
SSO_USER_EVENTS_LOG=./data/sso-user-events.log
ENTERPRISE_SLUG=acme
ENTERPRISE_SHORTCODE=octo
GITHUB_API_BASE_URL=https://api.github.com
GITHUB_COPILOT_SEAT_PAT=change-me
SP_ENTITY_ID=https://github.com/enterprises/acme
SP_ACS_URL=https://github.com/enterprises/acme/saml/consume
SCIM_BASE_URL=http://localhost:8002/scim/v2/enterprises/acme
SCIM_TOKEN=change-me
CERT_DIR=../../certs
